extends _component/layout/base

block meta
  -
    title = data.info.meta.title
    description = data.info.meta.description
    subtitle = data.info.meta.subtitle

block content
  - stories = data.info.story
  .content
    //- each story in stories

    .menu-wrapper
      input#menu-back-button(type="radio" name="stories")
      .menu-background
      .menu
        - i = 0;
        each story in stories
          - var className = story.class || ''
          - var checked = (i + 1 === stories.length)
          if checked
            input(type="radio" id=`story-${i}` name="stories" checked).menu-input
          else
            input(type="radio" id=`story-${i}` name="stories").menu-input
          .card(id=story.title)
            - var storyClass = story.title.replace(/\s/g, '-').toLowerCase();
            .card-body
              h1 #{story.title}
              each line in story.lines
                if story.title === 'Lives saved'
                  h2
                    b= line.year
                    span &nbsp;-&nbsp;
                    span= ~~(line.cars / 218)
                else
                  h2 !{line}
          section(class=`menu-item ${className}`)
            label(
              href=`#${story.title}`
              for=`story-${i}`
              class=`menu-link tsl-${storyClass}`
            )
            div.menu-label #{story.title}
          - i++;
      label.menu-back-button.tsl-menu(for="menu-back-button")
        span.menu-label-content Menu
